#content { max-width: 1600px; margin: 0 auto 50px; padding: 138px 50px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box }
.col2-set .col-1, .col2-set .col-2 { float: left; width: 50% }

@media screen and (max-width: 1024px) {
    #content { padding: 0 15px }
}
@media screen and (max-width: 767px) {
    #content { padding: 0 5px }
    .col2-set .col-1, .col2-set .col-2 { float: none; width: auto }
}
@media (max-width: 767px) {
    #content { padding-top: 20px }
}

.opc-block-progress dt.complete a,
.opc-block-progress dt.complete .separator { display: inline; }
.opc-block-progress dt a,
.opc-block-progress dt .separator { display: none; }

.opc .buttons-set { margin-top:0; padding-top:2em; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link small { display:none; }
.opc .buttons-set .back-link a { background:url(../images/i_arrow-top.gif) 0 50% no-repeat; padding-left:16px; }
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }
.opc .ul { list-style:disc outside; padding-left:18px; }

.opc { position:relative; }
.opc li.section {}

.opc .step-title { border-width:0 1px; border-style:solid; border-color:#fff #d9dde3 #d9dde3; background:#eee; padding:4px 8px 6px; text-align:right; }
.opc .step-title .number { float:left; background:#fff; padding:0 4px; margin:0 5px 0 0; color:#999; }
.opc .step-title h2 { float: left; margin: 0 }
.opc .step-title a { display:none; float:right; font-size:11px; line-height:16px; }

.opc .active .step-title {   background: rgba(135, 187, 162, 0.1); border: 1px solid #87BBA2; padding-bottom:5px; cursor:default; }
.opc .active .step-title .number { background: #87BBA2; color: #ffffff }

.opc .step { border:1px solid #bbafa0; border-top:0; background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x; padding:15px 30px; position:relative; }
.opc .step .tool-tip { right:30px; }

#opc-login .buttons-set { border-top:0; }
#opc-login h3 { font-size:13px; border-bottom:1px solid #e4e4e4; padding-bottom:2px; text-transform:uppercase; }
#opc-login h4 { font-size:1em; font-weight:bold; margin:0; color:#2f2f2f; }

#opc-shipping_method .buttons-set { border-top:0; }
.opc .gift-messages-form { margin:0 -30px; background:#f6f1eb; border:1px solid #e9e4de; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

#opc-review .step { border:0; padding:0; }
#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 30px; border:1px solid #d9dde3; border-width:0 1px 1px; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }

.col2-set:after, .step-title:after { display: block; content: "."; clear: both; font-size: 0; line-height: 0; height: 0; overflow: hidden }

