.customer-account-forgotpassword #content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  padding-top: 138px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .customer-account-forgotpassword #content {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .customer-account-forgotpassword #content {
    padding: 0 5px;
  }
}
@media (max-width: 767px) {
  .customer-account-forgotpassword #content {
    padding-top: 20px;
  }
}
.customer-account-forgotpassword h1 {
  margin: 50px 0 20px 0;
  font-size: 40px;
}
.customer-account-forgotpassword .description {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.customer-account-forgotpassword .form-list {
  max-width: 460px;
  margin: 50px auto 0 auto;
  text-align: left;
}
.customer-account-forgotpassword .form-list li {
  margin: 10px 0;
}
.customer-account-forgotpassword label {
  display: inline-block;
  float: left;
  width: 150px;
}
.customer-account-forgotpassword input {
  width: 300px;
}
.customer-account-forgotpassword .button-set {
  float: left;
}
.customer-account-forgotpassword .mandatory-info {
  font-size: 12px;
}

@media (max-width: 767px) {
  .customer-account-forgotpassword h1 {
    font-size: 20px;
  }
  .customer-account-forgotpassword .description {
    font-size: 14px;
  }
  .customer-account-forgotpassword .button-set {
    float: none;
  }
  .customer-account-forgotpassword .input-box {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .customer-account-forgotpassword input {
    width: 100%;
  }
  .customer-account-forgotpassword label {
    margin-left: 20px;
  }
  .customer-account-forgotpassword .hideit {
    display: none;
  }
}
