@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a {
  color: #333333;
  text-decoration: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

button,
input,
input[type=text],
input[type=button],
textarea {
  outline: none;
  border: none;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
}

button,
input,
textarea,
li {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333333;
}
body.no-flow {
  overflow: hidden;
}

a {
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
a:hover {
  color: #87BBA2;
}

#page {
  background: #fafafa;
}

.block-title {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.block-title span {
  display: block;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.clearfix:after {
  display: block;
  content: ".";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}

.col {
  border: 0 solid transparent;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .row {
    margin-left: -5px;
  }

  .col {
    border-left-width: 5px;
    padding: 0;
  }

  .span_1 {
    width: 50%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_2 {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .row {
    margin-left: -5px;
  }

  .col {
    border-left-width: 5px;
    padding: 0;
  }

  .span_1 {
    width: 16.66667%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_2 {
    width: 33.33333%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_3 {
    width: 50%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_4 {
    width: 66.66667%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_5 {
    width: 83.33333%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_6 {
    width: 50%;
  }

  .span_7,
  .span_8,
  .span_9,
  .span_10,
  .span_11,
  .span_12 {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .row {
    margin-left: -5px;
  }

  .col {
    border-left-width: 5px;
    padding: 0;
  }

  .span_1 {
    width: 8.33333%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_2 {
    width: 16.66667%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_3 {
    width: 25%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_4 {
    width: 33.33333%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_5 {
    width: 41.66667%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_6 {
    width: 50%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_7 {
    width: 58.33333%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_8 {
    width: 66.66667%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_9 {
    width: 75%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_10 {
    width: 83.33333%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_11 {
    width: 91.66667%;
    border-left-width: 5px;
    padding: 0;
    margin-left: 0;
  }

  .span_12 {
    margin-left: 0;
    width: 100%;
  }
}
body {
  position: relative;
  overflow-x: hidden;
}

#page {
  position: relative;
  left: 0;
}

header {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
header .language-wrapper .language-switch {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  header .language-wrapper .language-switch {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  header .language-wrapper .language-switch {
    padding: 0 5px;
  }
}
header .header-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  header .header-wrapper {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  header .header-wrapper {
    padding: 0 5px;
  }
}
header nav {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  header nav {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  header nav {
    padding: 0 5px;
  }
}

#content {
  width: 100%;
  overflow: hidden;
  min-height: 700px;
  padding-top: 138px;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
@media (max-width: 767px) {
  #content {
    padding-top: 20px;
  }
}
#content.pushed {
  margin-top: 145px;
}

@media (max-width: 767px) {
  #page {
    -webkit-transition: -webkit-all 0.15s ease;
    -moz-transition: -moz-all 0.15s ease;
    -ms-transition: -ms-all 0.15s ease;
    -o-transition: -o-all 0.15s ease;
    transition: all 0.15s ease;
  }
  #page.pushed {
    left: 270px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  header.active {
    -webkit-transform: translateX(270px);
    -moz-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
  }

  #content.pushed {
    margin-top: 0;
    padding-top: 196px;
  }
}
header {
  top: -145px;
  margin-bottom: 40px;
  background: #ffffff;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
header.pushed {
  top: 0;
}
header.hidden {
  top: -283px;
}
header .language-wrapper {
  height: 145px;
  padding: 20px 0;
  text-align: center;
  background: #fafafa;
}
header .language-wrapper .language-switch {
  position: relative;
}
header .language-wrapper .language-switch-close {
  position: absolute;
  top: -10px;
  right: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .language-wrapper .language-switch-close:before, header .language-wrapper .language-switch-close:after {
  position: absolute;
  content: '';
  top: 10px;
  left: 0;
  width: 20px;
  height: 1px;
  background: #cccccc;
}
header .language-wrapper .language-switch-close:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .language-wrapper .language-switch-close:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .language-wrapper .language-switch-close:hover:before, header .language-wrapper .language-switch-close:hover:after {
  background: #87BBA2;
}
header .language-wrapper p {
  font-size: 18px;
  margin-bottom: 10px;
}
header .language-wrapper .lang-flag {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
  padding: 5px;
  border-radius: 3px;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
header .language-wrapper .lang-flag img {
  width: 40px;
  display: inline-block;
}
header .language-wrapper .lang-flag span {
  display: block;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 12px;
}
header .language-wrapper .lang-flag:hover {
  color: #333333;
  background: #ffffff;
}
header .logo,
header .top-links {
  display: inline-block;
  vertical-align: top;
  width: auto;
}
header .logo {
  float: left;
  width: 100px;
  height: 80px;
  fill: #87BBA2;
}
header .logo .icon {
  margin-top: -15px;
}
header .mobile-logo {
  display: none;
}
header .top-links {
  float: right;
  margin-top: 25px;
  font-size: 11px;
}
header .top-links li {
  display: inline-block;
  margin-right: 15px;
  padding: 5px 0;
  vertical-align: top;
}
header .top-links li:last-child {
  margin: 0;
}
header .top-links .login a {
  position: relative;
  top: 4px;
}
header .top-links .store-code {
  cursor: pointer;
}
header .top-links .store-code img {
  width: 30px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
header .top-links .store-code:hover img {
  border-color: #87BBA2;
}
header .top-links .cart {
  padding: 5px 10px;
  fill: #333333;
}
header .top-links .cart .icon {
  width: 20px;
}
header .top-links .cart span {
  position: relative;
  top: 4px;
  margin-left: 5px;
  vertical-align: top;
  font-size: 12px;
}
header .top-links .cart a {
  padding: 10px;
  font-size: 14px;
  color: #333333;
}
header .top-links .cart a:hover {
  color: #87BBA2;
}
header .top-links .cart a:hover .icon {
  fill: #87BBA2;
}
header #search_mini_form {
  display: block;
  width: auto;
  margin-top: 10px;
  padding-top: 13px;
  text-align: center;
}
header #search_mini_form .form-search {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 60%;
}
header #search_mini_form input {
  width: 100%;
  border: 2px solid #333333;
}
header #search_mini_form input:focus {
  border: 2px solid #87BBA2;
}
header #search_mini_form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 40px;
}
header #search_mini_form button .icon {
  position: relative;
  width: 22px;
  top: 2px;
}
header #search_mini_form button:hover .icon {
  fill: #87BBA2;
}
header #search_mini_form .form-search-suggest {
  display: none;
  position: absolute;
  width: 100%;
  top: 40px;
  padding: 2px;
  background: #87BBA2;
  z-index: 1;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
header #search_mini_form .form-search-suggest.active {
  display: block;
}
header #search_mini_form .form-search-suggest li {
  padding: 5px 15px;
  background: #fafafa;
  border-bottom: 2px solid #ffffff;
  text-align: left;
}
header #search_mini_form .form-search-suggest li:last-child {
  border: none;
}
header #search_mini_form .form-search-suggest li:hover {
  background: #ffffff;
  cursor: pointer;
}
header #search_mini_form .form-search-suggest li .name span {
  color: #87BBA2;
}
header #search_mini_form .form-search-suggest li .amount {
  float: right;
  text-align: right;
  font-size: 12px;
  line-height: 22px;
}

@media screen and (max-width: 860px) {
  header .top-links li {
    display: none;
  }
  header .top-links li.cart, header .top-links li.store-code {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  header {
    border-bottom: 1px solid #cccccc;
  }
  header .header-wrapper {
    position: relative;
  }
  header .main-logo {
    display: none;
  }
  header .mobile-logo {
    display: block;
    margin: 0;
  }
  header .logo {
    float: none;
    width: 40px;
    height: 40px;
  }
  header .logo .icon {
    margin-top: 5px;
  }
  header .top-links {
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0;
  }
  header .top-links li {
    display: none;
  }
  header .top-links li.store-code, header .top-links li.cart {
    display: inline-block;
  }
  header .top-links li.store-code {
    margin-right: 10px;
  }
  header .top-links li.cart {
    padding: 0 10px;
    margin-top: 4px;
    color: #7d7d7d;
  }
  header .top-links li.cart i {
    font-size: 22px;
  }
  header .top-links li.cart .cart-price {
    display: none;
  }
  header .top-links .cart span {
    display: none;
  }
  header .top-links .cart a {
    padding: 10px 0;
    color: #87BBA2;
    background: none;
    border: none;
  }
  header .top-links .cart a:hover {
    border: 0;
    background: none;
  }
  header .top-links .cart a span {
    display: inline-block;
    position: relative;
    top: 2px;
    font-size: 16px;
  }
  header #mobile-search {
    position: relative;
    float: right;
    right: 100px;
    top: 15px;
    width: 20px;
    display: inline-block;
    font-size: 22px;
    fill: #333333;
  }
  header #search_mini_form {
    max-height: 0;
    margin: 5px 0;
    padding: 0;
    overflow: hidden;
    -webkit-transition: -webkit-all 0.15s ease;
    -moz-transition: -moz-all 0.15s ease;
    -ms-transition: -ms-all 0.15s ease;
    -o-transition: -o-all 0.15s ease;
    transition: all 0.15s ease;
  }
  header #search_mini_form.active {
    max-height: 80px;
  }
  header #search_mini_form .form-search {
    width: 100%;
  }
  header #search_mini_form button i {
    right: 10px;
  }
  header .language-wrapper .language-switch-close {
    right: 10px;
  }
  header .language-wrapper .lang-flag {
    margin: 0 10px;
  }
  header .language-wrapper .lang-flag span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
#mobile-menu,
#mobile-search,
#mobile-navigation {
  display: none;
}

.nav-wrapper {
  position: relative;
  margin-top: 10px;
}

#top-navigation {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}
#top-navigation .nav-1 {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#top-navigation .nav-1 .sub-level {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background: #ffffff;
}
#top-navigation .nav-1 .content-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
#top-navigation .nav-1 > li {
  float: left;
  width: 16.666%;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
#top-navigation .nav-1 > li > a {
  position: relative;
  display: block;
  padding: 8px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#top-navigation .nav-1 > li > a:after {
  position: absolute;
  content: '';
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background: #333333;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
#top-navigation .nav-1 > li:hover {
  z-index: 1;
}
#top-navigation .nav-1 > li:hover > a {
  color: #333333;
}
#top-navigation .nav-1 > li:hover > a:after {
  height: 3px;
}
#top-navigation .nav-1 > li:hover .sub-level {
  display: block;
}
#top-navigation .nav-1 .sub-level {
  border-bottom: 3px solid #000000;
}
#top-navigation .nav-1 .sub-level .title {
  background: #fafafa;
}
#top-navigation .nav-1 .sub-level .title a {
  display: block;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding: 20px 50px;
  color: #333333;
}
#top-navigation .nav-1 .sub-level .title a:after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 26px;
  margin-left: 10px;
  border: solid #333333;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#top-navigation .nav-1 .sub-level .left {
  float: left;
  width: 30%;
}
#top-navigation .nav-1 .sub-level .right {
  float: right;
  width: 70%;
}
#top-navigation .nav-1 .sub-level .special {
  margin: 40px;
  padding: 0 40px;
  border-left: 1px solid #cccccc;
}
#top-navigation .nav-1 .sub-level .special img,
#top-navigation .nav-1 .sub-level .special p {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
#top-navigation .nav-1 .sub-level .special p {
  font-size: 16px;
  padding: 40px;
  line-height: 25px;
  text-align: center;
}
#top-navigation .nav-1 .sub-level .special p span {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
#top-navigation .nav-1 .sub-level .nav-2 {
  padding: 20px 0;
}
#top-navigation .nav-1 .sub-level .nav-level-2 {
  float: none;
  display: block;
  width: 100%;
  outline: none;
}
#top-navigation .nav-1 .sub-level .nav-level-2 a {
  display: block;
  padding: 10px 50px;
  color: #333333;
  background: none;
}
#top-navigation .nav-1 .sub-level a {
  text-align: left;
  text-transform: none;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
#top-navigation .nav-1 .sub-level a:hover {
  padding-left: 60px;
}

@media (max-width: 1024px) {
  nav ul li a {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  #mobile-navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  #mobile-navigation {
    display: block;
  }
  #mobile-navigation .scroll-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 270px;
    opacity: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-all 0.3s ease;
    -moz-transition: -moz-all 0.3s ease;
    -ms-transition: -ms-all 0.3s ease;
    -o-transition: -o-all 0.3s ease;
    transition: all 0.3s ease;
  }
  #mobile-navigation .scroll-wrapper.visible {
    opacity: 1;
  }
  #mobile-navigation li {
    position: relative;
  }
  #mobile-navigation a,
  #mobile-navigation p {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
  }
  #mobile-navigation .show-all {
    position: absolute;
    top: 3px;
    right: 20px;
    border: none;
  }
  #mobile-navigation .nav-toggle {
    text-transform: uppercase;
  }
  #mobile-navigation .nav-2 {
    max-height: 0;
    overflow: hidden;
    background: #fafafa;
    -webkit-transition: -webkit-all 0.15s ease;
    -moz-transition: -moz-all 0.15s ease;
    -ms-transition: -ms-all 0.15s ease;
    -o-transition: -o-all 0.15s ease;
    transition: all 0.15s ease;
  }
  #mobile-navigation .active .nav-2 {
    max-height: 1000px;
  }

  #mobile-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: 10px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
  }
  #mobile-menu .lines {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #333333;
    -webkit-transition: -webkit-all 0.15s ease;
    -moz-transition: -moz-all 0.15s ease;
    -ms-transition: -ms-all 0.15s ease;
    -o-transition: -o-all 0.15s ease;
    transition: all 0.15s ease;
  }
  #mobile-menu .lines:before, #mobile-menu .lines:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #333333;
    -webkit-transition: -webkit-all 0.15s ease;
    -moz-transition: -moz-all 0.15s ease;
    -ms-transition: -ms-all 0.15s ease;
    -o-transition: -o-all 0.15s ease;
    transition: all 0.15s ease;
  }
  #mobile-menu .lines:before {
    top: -6px;
  }
  #mobile-menu .lines:after {
    bottom: -6px;
  }
  #mobile-menu.close .lines {
    background: transparent;
  }
  #mobile-menu.close .lines:before {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  #mobile-menu.close .lines:after {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }

  .nav-wrapper {
    display: none;
  }
}
input,
input[type=text],
textarea {
  padding: 10px 15px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #ffffff;
  border: 2px solid #cccccc;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
input:focus,
input[type=text]:focus,
textarea:focus {
  border: 2px solid #87BBA2;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  display: block;
  position: relative;
  margin: 0;
  padding-left: 35px;
  pointer-events: inherit;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
}
input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #fafafa;
}
input[type=checkbox]:checked + label:before {
  background: #fafafa;
  border-color: #fafafa;
}
input[type=checkbox]:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 3px;
  height: 7px;
  width: 14px;
  border: solid #87BBA2;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

label.dropdown,
.drop-select {
  display: inline-block;
  position: relative;
  background: #ffffff;
  border: 2px solid #cccccc;
}
label.dropdown select,
.drop-select select {
  display: block;
  position: relative;
  width: 100%;
  color: #333333;
  background: transparent;
  padding: 5px 20px 5px 10px;
  font-size: 12px;
  line-height: 1;
  height: 33px;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  appearance: none;
  border: none;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
label.dropdown select:focus,
.drop-select select:focus {
  outline: none;
}
label.dropdown:after,
.drop-select:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 16px;
  right: 6px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #cccccc transparent transparent transparent;
}

[placeholder]::-webkit-input-placeholder {
  color: #7d7d7d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: all 0.5s ease;
  color: rgba(125, 125, 125, 0.3);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #7d7d7d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

[placeholder]:focus:-moz-placeholder {
  transition: all 0.5s ease;
  color: rgba(125, 125, 125, 0.3);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #7d7d7d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

[placeholder]:focus::-moz-placeholder {
  transition: all 0.5s ease;
  color: rgba(125, 125, 125, 0.3);
}

:-ms-input-placeholder {
  color: #7d7d7d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

[placeholder]:focus:-ms-input-placeholder {
  transition: all 0.5s ease;
  color: rgba(125, 125, 125, 0.3);
}

.dark [placeholder]::-webkit-input-placeholder {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.dark [placeholder]:focus::-webkit-input-placeholder {
  transition: all 0.5s ease;
  color: rgba(255, 255, 255, 0.3);
}
.dark :-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.dark [placeholder]:focus:-moz-placeholder {
  transition: all 0.5s ease;
  color: rgba(255, 255, 255, 0.3);
}
.dark ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.dark [placeholder]:focus::-moz-placeholder {
  transition: all 0.5s ease;
  color: rgba(255, 255, 255, 0.3);
}
.dark :-ms-input-placeholder {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.dark [placeholder]:focus:-ms-input-placeholder {
  transition: all 0.5s ease;
  color: rgba(255, 255, 255, 0.3);
}

.button-set {
  display: block;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .button-set button,
  .button-set .button {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

button,
.button {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: -webkit-all 0.15s ease;
  -moz-transition: -moz-all 0.15s ease;
  -ms-transition: -ms-all 0.15s ease;
  -o-transition: -o-all 0.15s ease;
  transition: all 0.15s ease;
  padding: 10px 40px;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
button:hover,
.button:hover {
  text-decoration: none;
  color: #87BBA2;
}
button.normal,
.button.normal {
  color: #87BBA2;
  text-transform: uppercase;
  border: 2px solid #87BBA2;
}
button.normal:hover,
.button.normal:hover {
  color: #ffffff;
  background: #87BBA2;
}
button.strong,
.button.strong {
  color: #ffffff;
  letter-spacing: 2px;
  border: 2px solid #87BBA2;
  background: #87BBA2;
}
button.strong:hover,
.button.strong:hover {
  color: #87BBA2;
  background: #ffffff;
}
button.strong.checkout,
.button.strong.checkout {
  text-transform: uppercase;
}
button.cart,
.button.cart {
  padding: 15px 40px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@media (max-width: 767px) {
  button,
  .button {
    padding: 10px 20px;
  }
  button.cart,
  .button.cart {
    padding: 15px 20px;
  }
}
button:disabled, button.sold-out,
.button:disabled,
.button.sold-out {
  color: #ffffff;
  background: #7d7d7d;
  border: 2px solid #7d7d7d;
}
button:disabled:hover, button.sold-out:hover,
.button:disabled:hover,
.button.sold-out:hover {
  color: #ffffff;
  background: #7d7d7d;
}

footer .footer-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  footer .footer-wrapper {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-wrapper {
    padding: 0 5px;
  }
}
footer .footer-newsletter {
  padding: 80px 0;
  text-align: center;
  background: url("../images/subscribe-background.jpg") center/cover no-repeat;
}
footer .footer-newsletter form {
  display: inline-block;
  margin-top: 30px;
}
footer .footer-newsletter form input[type=text] {
  width: 65%;
}
footer .footer-trust {
  padding: 80px 0;
  text-align: center;
  background: #ffffff;
}
footer .footer-trust .block-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
footer .footer-trust a {
  display: block;
  font-size: 18px;
}
footer .footer-trust .payment-icons {
  display: inline-block;
  width: 260px;
}
footer .footer-categories {
  padding-bottom: 40px;
  background: #fafafa;
}
footer .footer-categories .footer-category {
  float: left;
  width: 25%;
  margin: 20px 0;
}
footer .footer-categories .footer-category .title {
  margin-bottom: 15px;
  text-transform: uppercase;
}
footer .footer-categories .footer-category .icon {
  width: 20px;
}
footer .footer-categories .footer-category .icon:hover {
  fill: #87BBA2;
}
footer .footer-categories .footer-category .link {
  margin: 10px 0;
}
footer .footer-categories .footer-category .link.account {
  margin-bottom: 30px;
}
footer .footer-categories .footer-category .link.account a {
  display: block;
}

@media (max-width: 1024px) {
  .footer-newsletter .span_6 {
    width: 80%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  footer .footer-newsletter .span_6 {
    width: 100%;
    padding: 0;
  }
  footer .footer-newsletter form input[type=text],
  footer .footer-newsletter form button {
    width: 90%;
  }
  footer .footer-newsletter form button {
    margin-top: 5px;
  }
  footer .footer-trust .span_6 {
    width: 100%;
  }
  footer .footer-trust .span_6:first-child {
    margin-bottom: 30px;
  }
  footer .footer-categories .footer-category {
    width: 100%;
    text-align: center;
  }
}
ul.messages {
  margin-top: 20px;
  background: rgba(135, 187, 162, 0.1);
}
ul.messages li {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  ul.messages li {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  ul.messages li {
    padding: 0 5px;
  }
}
ul.messages li ul {
  padding: 15px;
  text-align: center;
}

@media (min-width: 1025px) {
  ul.messages {
    margin-left: -25%;
    margin-right: -25%;
  }
}
@media (max-width: 1024px) {
  ul.messages {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (max-width: 767px) {
  ul.messages {
    margin-left: -5px;
    margin-right: -5px;
  }
}
