<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.2/phpunit.xsd"
        bootstrap="bootstrap.php"
        colors="true"
        forceCoversAnnotation="true"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true">
    <testsuite name="Demo Project Unit Tests">
        <directory>Suites</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>../../src/lizards-and-pumpkins/src</directory>
        </whitelist>
    </filter>
    <php>
        <server name="LP_BASE_URL_TO_WEBSITE_MAP" value="http://example.com/=xx"/>
        <server name="LP_FILE_STORAGE_BASE_PATH" value="/tmp/test-dummy"/>
        <server name="LP_LOG_FILE_PATH_PATH" value="/tmp/test-dummy"/>
    </php>
</phpunit>
